@import url(../components/flexslider/flexslider.css);
@font-face {
  font-family: 'mas-regular';
  src: url("../fonts/DINPro-Regular.eot") format("embedded-opentype"), url("../fonts/DINPro-Regular.woff") format("woff"), url("../fonts/DINPro-Regular.ttf") format("truetype"), url("../fonts/DINPro-Regular.svg#DINPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'mas-bold';
  src: url("../fonts/DINPro-Bold.eot") format("embedded-opentype"), url("../fonts/DINPro-Bold.woff") format("woff"), url("../fonts/DINPro-Bold.ttf") format("truetype"), url("../fonts/DINPro-Bold.svg#DINPro-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?jnibgl");
  src: url("../fonts/icomoon/icomoon.eot?jnibgl#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?jnibgl") format("truetype"), url("../fonts/icomoon/icomoon.woff?jnibgl") format("woff"), url("../fonts/icomoon/icomoon.svg?jnibgl#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cross:before {
  content: "\e900";
}

.icon-more:before {
  content: "\e901";
}

.icon-arrow-down:before {
  content: "\e902";
}

.icon-miselanius:before {
  content: "\e903";
}

@-moz-keyframes jump {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 15px;
  }
  100% {
    bottom: 0px;
  }
}
@-webkit-keyframes jump {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 15px;
  }
  100% {
    bottom: 0px;
  }
}
@-o-keyframes jump {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 15px;
  }
  100% {
    bottom: 0px;
  }
}
@keyframes jump {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 15px;
  }
  100% {
    bottom: 0px;
  }
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  background: black;
  color: white;
  font-family: "mas-regular", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

h3 {
  font-family: "mas-bold", Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 1.5em;
}
h3.sub-title {
  font-family: "mas-regular", Helvetica, Arial, sans-serif;
}

.backlight {
  background: black;
  display: table;
  line-height: 1.5em;
  padding: 0 5px;
  margin: 4px 0;
}

strong, b {
  font-family: "mas-bold", Helvetica, Arial, sans-serif;
}

p {
  line-height: 1.5em;
}

a {
  color: white;
  text-decoration: none;
  -moz-transition: color 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
a:hover {
  color: #34aec4;
}

.content-wrapper {
  height: 100%;
  max-width: 1280px;
  max-width: 96%;
  margin: 0 auto;
  position: relative;
}
.content-wrapper:before, .content-wrapper:after {
  content: " ";
  display: table;
}
.content-wrapper:after {
  clear: both;
}

.vertical-align {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

header {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
header .logo {
  width: 250px;
  float: right;
  margin-top: 25px;
  -moz-transition: width 0.3s ease-in-out;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
header .logo.page-play {
  width: 150px;
}

.page-nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  position: fixed;
  right: 2%;
  text-align: right;
  z-index: 2;
}
.page-nav p {
  margin-top: 20px;
  float: right;
  display: inline-block;
  overflow: hidden;
  -moz-transition: width 0.3s ease-in-out, padding 0.3s ease-in-out;
  -webkit-transition: width 0.3s ease-in-out, padding 0.3s ease-in-out;
  transition: width 0.3s ease-in-out, padding 0.3s ease-in-out;
}
.page-nav span {
  font-size: 1.8rem;
  float: right;
  margin-left: 5px;
  -moz-transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.page-nav .nav-buttons li {
  margin: 5px 0;
}
.page-nav .nav-buttons li:before, .page-nav .nav-buttons li:after {
  content: " ";
  display: table;
}
.page-nav .nav-buttons li:after {
  clear: both;
}
.page-nav .nav-buttons li.nav-main {
  display: none;
}
.page-nav .nav-buttons li.nav-proyects p {
  width: 80px;
}
.page-nav .nav-buttons li.nav-ours p {
  width: 75px;
}
.page-nav .nav-buttons li.nav-contact p {
  width: 73px;
}
.page-nav .nav-buttons li.selected span {
  color: #34aec4;
}
.page-nav a:hover {
  color: white;
}
.page-nav a:hover p {
  color: white;
}
.page-nav a:hover span {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  color: #34aec4;
}
.page-nav a:visited {
  color: white;
}
.page-nav a:visited p {
  color: white;
}
.page-nav.page-play .nav-buttons li p {
  margin-top: 20px;
  float: right;
  width: 0;
  padding: 0;
}
.page-nav.page-play a:hover p {
  padding: 0 5px;
}
.page-nav.page-play .nav-proyects a:hover p {
  width: 80px;
}
.page-nav.page-play .nav-ours a:hover p {
  width: 75px;
}
.page-nav.page-play .nav-contact a:hover p {
  width: 73px;
}

.main {
  background: url("../images/bg-main.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: relative;
}
.main .main-copy {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
.main .call-to {
  font-size: 2.8rem;
  bottom: 25px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  -moz-animation: jump 1s ease-in-out 0s infinite alternate;
  -webkit-animation: jump 1s ease-in-out 0s infinite alternate;
  -o-animation: jump 1s ease-in-out 0s infinite alternate;
  animation: jump 1s ease-in-out 0s infinite alternate;
}

.projects {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.projects:before, .projects:after {
  content: " ";
  display: table;
}
.projects:after {
  clear: both;
}

.flexslider {
  background: black;
  position: relative;
  border: none;
  margin: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.flexslider.screen {
  margin-top: -115px;
}
.flexslider.screen li {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}
.flexslider.screen li img {
  width: auto;
}
.flexslider.carrousel .slides img {
  -moz-transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.flexslider.carrousel .slides li {
  cursor: pointer;
  position: relative;
}
.flexslider.carrousel .slides li:hover .project-info-thumb {
  opacity: 1;
}
.flexslider.carrousel .slides li:hover img {
  opacity: .5;
}
.flexslider .project-info-thumb {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  padding: 15px;
  text-transform: uppercase;
  -moz-transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.flexslider .project-info-thumb .icon-miselanius {
  color: white;
  position: absolute;
  right: 15px;
  bottom: 15px;
  font-size: 2.8rem;
  font-weight: 400;
}
.flexslider .project-info-thumb p {
  font-size: 0.8rem;
}

.project-info {
  max-width: 555px;
  position: absolute;
  bottom: 90px;
  width: 90%;
  margin: 0 0 0 90px;
}
.project-info p {
  font-size: 0.8rem;
}
.project-info .icon-miselanius {
  font-size: 2.8rem;
  font-weight: bold;
}
.project-info .info-box {
  opacity: 0;
  margin-top: 10px;
  width: auto;
  margin-right: -15px;
  -moz-transition: opacity 0.3s ease-in-out, margin 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out, margin 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, margin 0.3s ease-in-out;
}
.project-info .info-box .column {
  float: left;
  width: 50%;
  padding-left: 15px;
  background-clip: content-box;
}
.project-info .info-box .box-black {
  background: black;
  padding: 25px;
}
.project-info .info-box .box-black .sub-title {
  text-align: right;
}
.project-info .info-box .box-black p {
  margin-top: 15px;
}
.project-info .info-box .box-description p {
  margin-top: 50px;
}
.project-info .info-button {
  position: absolute;
  bottom: -40px;
  left: -40px;
  cursor: pointer;
}
.project-info .info-button p {
  display: inline-block;
  margin-left: -25px;
  -moz-transition: margin 0.3s ease-in-out;
  -webkit-transition: margin 0.3s ease-in-out;
  transition: margin 0.3s ease-in-out;
}
.project-info .info-button .icon-more {
  font-size: 3.8rem;
  -moz-transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  display: inline-block;
}
.project-info .info-button:hover .icon-more {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  color: #34aec4;
}
.project-info .info-button:hover p {
  margin-left: -15px;
}
.project-info .info-button:hover + .info-box {
  opacity: 1;
  margin-top: 0;
}

.us {
  width: 100vw;
  height: 100vh;
}

.contact {
  height: 100vh;
  width: 100vw;
}
