@import url(../components/flexslider/flexslider.css);
@font-face {
  font-family: 'mas-regular';
  src: url("../fonts/DINPro-Regular.eot") format("embedded-opentype"), url("../fonts/DINPro-Regular.woff") format("woff"), url("../fonts/DINPro-Regular.ttf") format("truetype"), url("../fonts/DINPro-Regular.svg#DINPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'mas-bold';
  src: url("../fonts/DINPro-Bold.eot") format("embedded-opentype"), url("../fonts/DINPro-Bold.woff") format("woff"), url("../fonts/DINPro-Bold.ttf") format("truetype"), url("../fonts/DINPro-Bold.svg#DINPro-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?jnibgl");
  src: url("../fonts/icomoon/icomoon.eot?jnibgl#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?jnibgl") format("truetype"), url("../fonts/icomoon/icomoon.woff?jnibgl") format("woff"), url("../fonts/icomoon/icomoon.svg?jnibgl#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e904";
}

.icon-twitter:before {
  content: "\e905";
}

.icon-vimeo:before {
  content: "\e906";
}

.icon-cross:before {
  content: "\e900";
}

.icon-more:before {
  content: "\e901";
}

.icon-arrow-down:before {
  content: "\e902";
}

.icon-miselanius:before {
  content: "\e903";
}

@-moz-keyframes jump {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 15px;
  }
  100% {
    bottom: 0px;
  }
}
@-webkit-keyframes jump {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 15px;
  }
  100% {
    bottom: 0px;
  }
}
@-o-keyframes jump {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 15px;
  }
  100% {
    bottom: 0px;
  }
}
@keyframes jump {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 15px;
  }
  100% {
    bottom: 0px;
  }
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  background: black;
  color: white;
  font-family: "mas-regular", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  line-height: 1.5em;
}

h2 {
  font-size: 2.8rem;
  font-family: "mas-bold", Helvetica, Arial, sans-serif;
  line-height: 1em;
  position: absolute;
  z-index: 20;
  top: 60px;
  left: 60px;
  text-transform: uppercase;
}

h3 {
  font-family: "mas-bold", Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 1.5em;
}
h3.sub-title {
  font-family: "mas-regular", Helvetica, Arial, sans-serif;
}

.backlight {
  background: black;
  display: table;
  line-height: 1.5em;
  padding: 0 5px;
  margin: 4px 0;
}

strong, b {
  font-family: "mas-bold", Helvetica, Arial, sans-serif;
}

p {
  line-height: 1.5em;
}

a {
  color: white;
  text-decoration: none;
  -moz-transition: color 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
a:hover {
  color: #34aec4;
}

.text-black {
  color: black;
}

.text-white {
  color: white;
}

.text-color {
  color: #34aec4;
}

.left {
  float: left;
  display: block;
}

.right {
  float: right;
  display: block;
}

section {
  position: relative;
}

.content-wrapper {
  height: 100%;
  max-width: 1280px;
  max-width: 96%;
  margin: 0 auto;
  position: relative;
  clear: both;
}
.content-wrapper:before, .content-wrapper:after {
  content: " ";
  display: table;
}
.content-wrapper:after {
  clear: both;
}

.vertical-align {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

header {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
header .logo {
  width: 250px;
  float: right;
  margin-top: 25px;
  -moz-transition: width 0.3s ease-in-out;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
header .logo.page-play {
  width: 150px;
}

.page-nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  position: fixed;
  right: 2%;
  text-align: right;
  z-index: 2;
}
.page-nav p {
  margin-top: 20px;
  float: right;
  display: inline-block;
  overflow: hidden;
  -moz-transition: width 0.3s ease-in-out, padding 0.3s ease-in-out;
  -webkit-transition: width 0.3s ease-in-out, padding 0.3s ease-in-out;
  transition: width 0.3s ease-in-out, padding 0.3s ease-in-out;
}
.page-nav span {
  font-size: 1.8rem;
  float: right;
  margin-left: 5px;
  -moz-transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.page-nav .nav-buttons li {
  margin: 5px 0;
  clear: both;
}
.page-nav .nav-buttons li:before, .page-nav .nav-buttons li:after {
  content: " ";
  display: table;
}
.page-nav .nav-buttons li:after {
  clear: both;
}
.page-nav .nav-buttons li.nav-main {
  display: none;
}
.page-nav .nav-buttons li.nav-proyects p {
  width: 80px;
}
.page-nav .nav-buttons li.nav-ours p {
  width: 75px;
}
.page-nav .nav-buttons li.nav-contact p {
  width: 73px;
}
.page-nav .nav-buttons li.selected span {
  color: #34aec4;
}
.page-nav a:hover {
  color: white;
}
.page-nav a:hover p {
  color: white;
}
.page-nav a:hover span {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  color: #34aec4;
}
.page-nav a:visited {
  color: white;
}
.page-nav a:visited p {
  color: white;
}
.page-nav.page-play .nav-buttons li p {
  margin-top: 20px;
  float: right;
  width: 0;
  padding: 0;
}
.page-nav.page-play a:hover p {
  padding: 0 5px;
}
.page-nav.page-play .nav-proyects a:hover p {
  width: 80px;
}
.page-nav.page-play .nav-ours a:hover p {
  width: 75px;
}
.page-nav.page-play .nav-contact a:hover p {
  width: 73px;
}

.page-us .page-nav a span, .page-contact .page-nav a span {
  color: black;
}

.main {
  background: url("../images/bg-main.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: relative;
}
.main .main-copy {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
.main .call-to {
  font-size: 2.8rem;
  bottom: 25px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  -moz-animation: jump 1s ease-in-out 0s infinite alternate;
  -webkit-animation: jump 1s ease-in-out 0s infinite alternate;
  -o-animation: jump 1s ease-in-out 0s infinite alternate;
  animation: jump 1s ease-in-out 0s infinite alternate;
}

.projects {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  clear: both;
}
.projects:before, .projects:after {
  content: " ";
  display: table;
}
.projects:after {
  clear: both;
}

.flexslider {
  background: black;
  position: relative;
  border: none;
  margin: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.flexslider.screen {
  margin-top: -115px;
}
.flexslider.screen li {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}
.flexslider.screen li img {
  width: auto;
}
.flexslider.carrousel .slides img {
  -moz-transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.flexslider.carrousel .slides li {
  cursor: pointer;
  position: relative;
}
.flexslider.carrousel .slides li:hover .project-info-thumb {
  opacity: 1;
}
.flexslider.carrousel .slides li:hover img {
  opacity: .5;
}
.flexslider .project-info-thumb {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  padding: 15px;
  text-transform: uppercase;
  -moz-transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.flexslider .project-info-thumb .icon-miselanius {
  color: white;
  position: absolute;
  right: 15px;
  bottom: 15px;
  font-size: 2.8rem;
  font-weight: 400;
}
.flexslider .project-info-thumb p {
  font-size: 0.8rem;
}

.project-info {
  max-width: 555px;
  position: absolute;
  bottom: 90px;
  width: 90%;
  margin: 0 0 0 90px;
}
.project-info p {
  font-size: 0.8rem;
}
.project-info .icon-miselanius {
  font-size: 2.8rem;
  font-weight: bold;
}
.project-info .info-box {
  opacity: 0;
  margin-top: 10px;
  margin-right: -15px;
  -moz-transition: opacity 0.3s ease-in-out, margin 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out, margin 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, margin 0.3s ease-in-out;
}
.project-info .info-box .column {
  float: left;
  width: 50%;
  padding-left: 15px;
  background-clip: content-box;
}
.project-info .info-box .box-black {
  background: black;
  padding: 25px;
}
.project-info .info-box .box-black .sub-title {
  text-align: right;
}
.project-info .info-box .box-black p {
  margin-top: 15px;
}
.project-info .info-box .box-description p {
  margin-top: 50px;
}
.project-info .info-button {
  position: absolute;
  bottom: -40px;
  left: -40px;
  cursor: pointer;
}
.project-info .info-button p {
  display: inline-block;
  margin-left: -25px;
  -moz-transition: margin 0.3s ease-in-out;
  -webkit-transition: margin 0.3s ease-in-out;
  transition: margin 0.3s ease-in-out;
}
.project-info .info-button .icon-more {
  font-size: 3.8rem;
  -moz-transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  display: inline-block;
}
.project-info .info-button:hover .icon-more {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  color: #34aec4;
}
.project-info .info-button:hover p {
  margin-left: -15px;
}
.project-info .info-button:hover + .info-box {
  opacity: 1;
  margin-top: 0;
}

.us {
  width: 100vw;
  min-height: 100vh;
  background: white;
  position: relative;
  clear: both;
}
.us:before, .us:after {
  content: " ";
  display: table;
}
.us:after {
  clear: both;
}
.us .title {
  background: black;
  padding: 25px;
}
.us .title h2 {
  position: relative;
  left: 0;
  top: 0;
  display: inline-block;
  width: 100%;
  margin-top: 25px;
}
.us .column {
  float: left;
}
.us .column li.ornela {
  background: transparent url(../images/us/01.png) no-repeat right top;
  background-size: cover;
}
.us .column li.agustin {
  background: transparent url(../images/us/02.png) no-repeat center top;
  background-size: cover;
}
.us .column li.agustin .info-person {
  min-height: 360px;
}
.us .column li.alan {
  background: transparent url(../images/us/03.png) no-repeat center top;
  background-size: cover;
}
.us .column li.martin {
  background: transparent url(../images/us/04.png) no-repeat right top;
  background-size: cover;
}
.us .column li.nehuel {
  background: transparent url(../images/us/05.png) no-repeat left top;
  background-size: cover;
}
.us .column li.belen {
  background: transparent url(../images/us/06.png) no-repeat right top;
  background-size: cover;
}
.us .column li.belen .info-person {
  min-height: 310px;
}
.us .column li.julian {
  background: transparent url(../images/us/07.png) no-repeat center center;
  background-size: cover;
}
.us .column li.pre-julian {
  min-height: 250px;
}
.us .column li.white {
  display: none;
  height: 138px;
}
@media (min-width: 768px) {
  .us .column li.white {
    display: block;
  }
}
.us .column li.grey-light {
  display: none;
  height: 138px;
  background: #e7e6e7;
}
@media (min-width: 768px) {
  .us .column li.grey-light {
    display: block;
  }
}
.us .column li.grey-dark {
  display: none;
  height: 160px;
  background: #333132;
}
@media (min-width: 768px) {
  .us .column li.grey-dark {
    display: block;
  }
}
.us .info-person {
  opacity: 0;
  background: rgba(0, 0, 0, 0.7);
  padding: 25px;
  -moz-transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.us .info-person .person-description {
  font-size: 0.8rem;
  margin-top: 15px;
}
.us .info-person:hover {
  opacity: 1;
}
.us .us-inovation {
  padding: 25px;
  font-size: 1.8rem;
}
.us .us-description {
  padding: 100px 25px;
  color: black;
  bottom: 50px;
  right: 50px;
  width: 30vw;
}
.us .first {
  width: 20vw;
}
.us .second {
  width: 25vw;
}
.us .thrird {
  width: 20vw;
}
.us .fourth {
  width: 20vw;
}
.us .fifth {
  width: 15vw;
}

.contact {
  width: 100vw;
  background: white;
}
.contact h2 {
  position: relative;
  color: black;
  top: 0;
  left: 0;
  text-align: right;
}
.contact .line-first, .contact .line-second, .contact .line-third {
  clear: both;
}
.contact .line-first:before, .contact .line-first:after, .contact .line-second:before, .contact .line-second:after, .contact .line-third:before, .contact .line-third:after {
  content: " ";
  display: table;
}
.contact .line-first:after, .contact .line-second:after, .contact .line-third:after {
  clear: both;
}
.contact .contact-content-wrapper li {
  float: left;
}
.contact .title {
  width: 20vw;
  padding: 25px;
}
.contact .grey-light {
  background: #e7e6e7;
  margin-left: 30vw;
  margin-right: 20vw;
  width: 15vw;
  height: 20vh;
}
.contact .contact-data-wrapper {
  background: #333132;
  text-transform: uppercase;
  width: 35vw;
  height: 20vh;
  position: relative;
}
.contact .contact-data-wrapper .data {
  position: absolute;
  bottom: 25px;
  left: 25px;
}
.contact .contact-data-wrapper .data a {
  text-transform: initial;
}
.contact .contact-form {
  background: black url(../images/contact/background.png) no-repeat right top;
  background-size: cover;
  padding: 25px;
  width: 65vw;
  min-height: 40vh;
  text-transform: uppercase;
}
.contact .contact-form .columns {
  margin-top: 25px;
  width: 75%;
  position: relative;
  clear: both;
  margin-right: -5px;
}
.contact .contact-form .columns:before, .contact .contact-form .columns:after {
  content: " ";
  display: table;
}
.contact .contact-form .columns:after {
  clear: both;
}
.contact .contact-form .columns .column {
  float: left;
  width: 50%;
  padding-left: 5px;
  background-clip: content-box;
}
.contact .contact-form .columns input, .contact .contact-form .columns textarea {
  font-family: "mas-regular", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  width: 100%;
  padding: 10px 15px;
  margin: 0 10px 10px 0;
  border: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.contact .contact-form .columns input:focus, .contact .contact-form .columns textarea:focus {
  outline: none;
}
.contact .contact-form .columns textarea {
  height: 185px;
  margin-bottom: 0;
  margin-left: 5px;
}
.contact .contact-form .columns .icon-miselanius {
  color: white;
  font-size: 3.8rem;
}
.contact .contact-form .columns button[type="submit"] {
  font-family: "mas-bold", Helvetica, Arial, sans-serif;
  background: black;
  color: white;
  position: absolute;
  border: none;
  bottom: 18px;
  right: 5px;
  padding: 8px 15px;
  cursor: pointer;
  -moz-transition: background 0.3s ease-in-out;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.contact .contact-form .columns button[type="submit"]:hover {
  background: #34aec4;
}
.contact .contact-bg-left {
  background: black url(../images/contact/01.png) no-repeat right top;
  background-size: cover;
  height: 40vh;
  width: 25vw;
}
.contact .contact-bg-right {
  background: black url(../images/contact/02.png) no-repeat right top;
  background-size: cover;
  height: 40vh;
  width: 25vw;
  margin-right: 10vw;
}
.contact .contact-location-wrapper {
  width: 25vw;
  text-transform: uppercase;
}
.contact .contact-location-wrapper .location {
  padding: 25px;
  background: #333132;
}
.contact .contact-location-wrapper .miselanius {
  margin: 15px;
}
.contact .contact-social {
  padding: 100px 25px 25px;
  font-size: 1rem;
}
.contact .contact-social a {
  color: black;
}
.contact .contact-social a:hover {
  color: #34aec4;
}
