@include keyframes(jump){
	
	0% {
		bottom: 0;
	}
	
	50% {
		bottom: 15px;
	}

	100% {
		bottom: 0px;
	}
};

@include keyframes(image){
	
	0%{
		opacity: 1;
	}
	10% {
		opacity:1;
	}
	20%{
		opacity: 0;
	}
	60% {
		opacity:0;
	}
	75% {
		opacity:1;
	}
};

