@font-face {
  font-family: 'mas-regular';
  src: url('../fonts/DINPro-Regular.eot') format('embedded-opentype'),  url('../fonts/DINPro-Regular.woff') format('woff'), url('../fonts/DINPro-Regular.ttf')  format('truetype'), url('../fonts/DINPro-Regular.svg#DINPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mas-bold';
  src: url('../fonts/DINPro-Bold.eot') format('embedded-opentype'),  url('../fonts/DINPro-Bold.woff') format('woff'), url('../fonts/DINPro-Bold.ttf')  format('truetype'), url('../fonts/DINPro-Bold.svg#DINPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Icomoon

@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon/icomoon.eot?jnibgl');
    src:    url('../fonts/icomoon/icomoon.eot?jnibgl#iefix') format('embedded-opentype'),
        url('../fonts/icomoon/icomoon.ttf?jnibgl') format('truetype'),
        url('../fonts/icomoon/icomoon.woff?jnibgl') format('woff'),
        url('../fonts/icomoon/icomoon.svg?jnibgl#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
    content: "\e904";
}
.icon-twitter:before {
    content: "\e905";
}
.icon-vimeo:before {
    content: "\e906";
}
.icon-cross:before {
    content: "\e900";
}
.icon-more:before {
    content: "\e901";
}
.icon-arrow-down:before {
    content: "\e902";
}
.icon-miselanius:before {
    content: "\e903";
}


