// Fonts

$font-regular :'mas-regular', Helvetica, Arial, sans-serif;
$font-bold :'mas-bold', Helvetica, Arial, sans-serif;

$font-size: (
	smallest:.8rem,
	small:1rem,
	higlight:1.4rem,
	medium:1.8rem,
	big:2.8rem,
	biggest:3.8rem,
);

// Color
$grey-light: #e7e6e7;
$grey-dark: #333132;
$mas-color: #34aec4;

// animations

$timing: .3s ease-in-out;