html, body {
	background: black;
	color: white;
	font-family:$font-regular;
	overflow-x: hidden;
	line-height: 1.5em;
}

// Text

h2 {
	font-size: map-get($font-size, big);
	font-family: $font-bold;
	line-height: 1em;
	position: absolute;
	z-index:20;
	top:60px;
	left: 60px;
	text-transform: uppercase;
}

h3 {
	font-family: $font-bold;
	font-size: map-get($font-size, higlight);
	text-transform: uppercase;
	line-height: 1.5em;

	&.sub-title {
		font-family: $font-regular;
	}
}

.backlight {
	background: black;
	display: table;
	line-height: 1.5em;
	padding: 0 5px;
	margin: 4px 0;
}

strong, b {
	font-family:$font-bold;
}

p {
	line-height: 1.5em;
	font-size: 0.6rem;

	@include breakpoint(tablet) {
		font-size: 1rem;
	}

	.mobile-phagraf {
		display: block;

		@include breakpoint(tablet) {
			display: none;
		}
	}
}

a {
	color: white;
	text-decoration: none;
	@include transition(color $timing);

	&:hover {
		color: $mas-color;
	}
}

.text-black {
	color: black;
}

.text-white {
	color: white;
}

.text-color {
	color: $mas-color;
}

.left {
	float:left;
	display: block;
}

.right {
	float:right;
	display: block;
}

// Content

section {
    position: relative;
}

.content-wrapper{
	height: 100%;
	max-width: 1280px;
	max-width: 96%;
	margin: 0 auto;
	position: relative;
	@include clearfix;
}

// Layout

.vertical-align {
	@include vertical-align;
}