.contact {
	width: 100vw;
	background: white;

	h2 {
		position: relative;
		color: black;
		top: 0;
		left: 0;
		text-align: right;
	}

	.line-first, .line-second, .line-third {
		@include clearfix;
	}

	.contact-content-wrapper {
		
		li {
			float: left;
		}
	}

	li.contact-data-wrapper {
		text-transform: uppercase;
		background: $grey-light;
		position: relative;
		width: 178px;
    	height: 138px;
		margin-top: 30px;
		float: right;
		color: black;

		a {
			color: black;
		}

		@include breakpoint(tablet) {
			float: left;
			background: $grey-dark;
			color: white;
			width: 35vw;
			height: 20vh;
			margin-top: 0px;

			a {
				color: white;
			}
		}

		.data {
			position: absolute;
			bottom:25px;
			left: 25px;

			a { 
				text-transform: initial;
			}
		}
	}

	.title-desktop {
		width:20vw;
		padding: 25px;
		display: none;

		@include breakpoint(tablet) {
			display: block;
		}
	}

	.title-mobile {
		background: $grey-dark;
    	padding-top: 30px;
    	padding-left: 30px;
    	padding-right: 30px;
		display: block;
		height: 20vh;
		min-height: 250px;

		h2 {
			color: white;
			min-height: auto;
		}

		@include breakpoint(tablet) {
			display: none;

			h2 {
				color: black;
			}
		}
	}

	.grey-light, .grey-light-second {
		background: $grey-light;
		margin-left: 30vw;
		margin-right: 20vw;
		width: 15vw;
		height: 20vh;
		display: none;
		
		@include breakpoint(tablet) {
			display: block;
		}
	}

	.grey-light-second {
		margin-left: 0;
		margin-right: 0;
		width: 13vw;
		height: 32vh
	}

	.contact-form {
		background: black;
		background-size: cover;
		padding: 25px;
		width: 100vw;
		min-height: 32vh;
		text-transform: uppercase;

		@include breakpoint(tablet) {
			width: 52vw;
		}

		.columns{
			width: 100%;
			position: relative;
			@include clearfix;
			@include grid(2, 5px, '.column');

			input, textarea {
				font-family: $font-regular;
				text-transform: uppercase;
				width: 100%;
				padding: 10px 15px;
				margin: 0 10px 10px 0;
				border: none;
				@include box-sizing(border-box);

				&:focus {
					outline: none;
				}
			}

			textarea {
				height: 185px;
			    margin-bottom: 0;
			    margin-left: 0px;

			    @include breakpoint(tablet) {
			    	margin-left: 5px;
			    }
			}

			.icon-miselanius {
				color: white;
				font-size: map-get($font-size, biggest);
				display: none;

				@include breakpoint(tablet) {
					display: block;
				}
			}

			button[type="submit"] {
				font-family: $font-bold;
				background: black;
				color: white;
				position: absolute;
				border: none;
				bottom: 18px;
    			right: 5px;
				padding: 8px 15px;
				cursor: pointer;
				@include transition(background $timing);

				&:hover {
					background: $mas-color;
				}
			}
		}
	}

	.grey-strong{
		background: $grey-dark;
		width: 10vw;
		height: 50vh;
		display: none;
		
		@include breakpoint(tablet) {
			display: block;
		}
	}

	.contact-map {
		height: 50vh;
		width: 50vw;

		#map-canvas {
		    width: 100%;
		    height: 100%;
		}
	}

	.contact-location-wrapper {
		width: 25vw;
		text-transform: uppercase;
		position: relative;

		.location {
			padding: 25px 0px 0px 0px;
			background: white;
			color: black;
			
			@include breakpoint(tablet) {
				padding: 25px;
				background: $grey-dark;
				color: white;
			}
		}

		.miselanius {
			margin: 15px;
			display: none;
			width: 80px;

			@include breakpoint(tablet) {
				display: block;
			}
		}
	}

	.mobile-miselanius {
   		top: 100px;
	}

	.contact-social {
		padding: 30px  0;
		position: absolute;
		top: 155px;
		right: 15px;
		font-size: map-get($font-size, higlight);


		a {
			color: black;

			&:hover {
				color: $mas-color;
			}
		}
	}
}