.main {
	background: url("../images/bg-main.png");
	background-size: cover;
	height: 100vh;
	width: 100vw;
	position: relative;

	.main-copy {
		@include vertical-align
	}

	.call-to {
		font-size: map-get($font-size, big);
		bottom: 25px;
		@include horizontal-align;
		@include animation(jump 1s ease-in-out 0s infinite alternate);
	}
}