@import url(../components/flexslider/flexslider.css);

.projects {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	@include clearfix;
	
	.mobile-miselanius{
		z-index: 20;
	    position: absolute;
	    font-size: 130px;
	    top: 80px;
	}
}

// Flexslider

.flexslider {
	background: black;
	position: relative;
	border: none;
	margin: 0;
	@include border-radius(0);

	&.screen {
		margin-top: -138px;

		li {
			overflow:hidden;
			height: 100vh;
			width: 100vw;

			img {
				transform: translateX(-50%);
    			margin-left: 50%;
			}
		}
	}

	&.carrousel {
		
		.slides {

			img {
				@include transition(opacity $timing);
			}


			li {
				cursor: pointer;
				position: relative;

				&:hover {

					.project-info-thumb {
						opacity: 1;
						display: none;

						@include breakpoint(tablet) {
							display: block;
						}
					}

					img {
						opacity: .5;
					}
				}	
			}

		}
	}

	.project-info-thumb {
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 100;
		padding: 15px;
		text-transform: uppercase;
		@include transition(opacity $timing);

		.icon-miselanius {
			color: white;
			position: absolute;
			right: 15px;
			bottom: 15px;
			font-size: map-get($font-size, big);
			font-weight: 400;
		}

		p {
			font-size: map-get($font-size, smallest);
		}
	}
}

.flex-direction-nav {

	a {

		&:before {
    		font-size: 22px;
			margin-top: 10px;
    		color: white;
			text-shadow: none;
		}
	}
}

// Project Info+

.project-info {
	max-width: 555px;
    position: absolute;
    bottom: 90px;
    width: 90%;
    margin: 0 0 0 90px;
    z-index: 10;

    p {
    	font-size: map-get($font-size, smallest);
    }

    .icon-miselanius {
    	font-size: map-get($font-size, big);
    	font-weight: bold;
    }
	
	.info-box {
		opacity: 1;
		margin-top: 10px;
		@include grid(2,15px,'.column');
		@include transition(opacity $timing, margin $timing);
		
		@include breakpoint(tablet) {
			opacity: 0;
		}

		.box-black {
			background: black;
			padding: 18px;
			width: 36%;

			@include breakpoint(tablet) {
				padding: 25px;
				width:auto;
			}

			.sub-title {
				text-align: left;

				@include breakpoint(tablet) {
					text-align: right;
				}
			}
			
			p {
				margin-top: 15px;
				display: none;

				@include breakpoint(tablet) {
					display: inline-block;
				}
			}
		}
		
		.box-description {
			display: none;
			
			@include breakpoint(tablet) {
				display: block;
			}

			p {
				margin-top: 50px;
			}
		}
	}
	
	.info-button {
		position: absolute;
		bottom: -60px;
    	left: -60px;
		cursor: pointer;
		pointer-events: none;

		@include breakpoint(tablet) {
			pointer-events: auto;
			bottom: -40px;
	    	left: -40px;
		}

		p {
			display: inline-block;
			margin-left: -25px;
			@include transition(margin $timing);
			display: none;

			@include breakpoint(tablet) {
				display: inline;
			}
		}

		.icon-more {
			font-size: map-get($font-size, biggest);
			@include transition(color $timing, transform $timing);
			display: inline-block;
		}

		.open {

		}
		
		.close {

		}

		&:hover {

			.icon-more {
				@include transform(rotate(90deg), translateZ(0));
				color: $mas-color;
			}
			
			p {
				margin-left: -15px;
			}

			&+.info-box {
				opacity: 1;
				margin-top: 0;
			}
		}
	}
}