.us {
	width: 100vw;
	min-height:100vh;
	background: white;
	position: relative;
	@include clearfix;
	
	
	.us-title-mobile {
			display: block;

			@include breakpoint(tablet) {
				display: none;
			}
	}

	.mobile-miselanius {
		top: 112px;
	}


	.column {
		float: none;

		@include breakpoint(tablet) {
			float: left;
		}

		ul {
			width: 100%;

			// Columns

			&.first {
				@include breakpoint(tablet) {
					width:20vw;
				}
			}

			&.second {
				@include breakpoint(tablet) {
					width:25vw;
				}
			}

			&.thrird {
				@include breakpoint(tablet) {
					width:20vw;
				}
			}

			&.fourth {
				@include breakpoint(tablet) {
					width:20vw;
				}
			}

			&.fifth {
				@include breakpoint(tablet) {
					width:15vw;
				}
			}

			li {
				min-height: 50vh;
				position: relative;

				@include breakpoint(tablet) {
					min-height: 0;
				}

				&.ornela {
	    			background: transparent url(../images/us/01.png) no-repeat right top;
					background-size: cover;


					.info-person {	
    					left: 125px;

	    				@include breakpoint(tablet) {	
    						left: 0px;
							min-height: 40vh;
						}
					}
				}

				&.agustin {
	    			background: transparent url(../images/us/02.png) no-repeat center top;
					background-size: cover;

					.info-person {
						min-height: auto;

	    				@include breakpoint(tablet) {
							min-height: 40vh;
						}
					}
				}

				&.us-title-desktop {
					background: black;
					padding: 25px;
					display: none;
					min-height: 28vh;

					@include breakpoint(tablet) {
						display: block;
					}
				
					h2 {
						position: relative;
						left: 0;
						top: 0;
						display: inline-block;
					    width: 100%;
					    margin-top: 25px;
					}
				}


				&.alan {
					background: transparent url(../images/us/03.png) no-repeat center top;
					background-size: cover;
					
					.info-person {
						min-height: auto;

						@include breakpoint(tablet) {
							display: block;
							min-height: 25vh;
						}
					}
				}

				&.grey-black-second {
					display: none;
	    			height: 32vh;
	    			background: $grey-dark;

	    			@include breakpoint(tablet) {
						display: block;
	    			}
				}

				&.martin {
					background: transparent url(../images/us/04.png) no-repeat right top;
					background-size: cover;

					.info-person {
						min-height: auto;

	    				@include breakpoint(tablet) {
							min-height: 30vh;
						}
					}
				}

				&.nehuel {
					background: transparent url(../images/us/05.png) no-repeat left top;
					background-size: cover;

					.info-person {
						min-height: auto;

	    				@include breakpoint(tablet) {
							min-height: 30vh;
						}
					}

				}

				&.belen {
					background: transparent url(../images/us/06.png) no-repeat right top;
					background-size: cover;

					.info-person {
						min-height: auto;

	    				@include breakpoint(tablet) {
							min-height: 25vh;
	    				}
					}
				}

				&.grey-light-third {
					display: none;
	    			height: 15vh;
	    			background: $grey-light;

	    			@include breakpoint(tablet) {
						display: block;
	    			}
				}

				&.julian {
					background: transparent url(../images/us/07.png) no-repeat center center;
					background-size: cover;

					.info-person {
						min-height: auto;

	    				@include breakpoint(tablet) {
							min-height: 15vh;
	    				}
					}
				}

				&.grey-dark-fourth {
					display: none;
	    			height: 55vh;
	    			background: $grey-dark;

	    			@include breakpoint(tablet) {
						display: block;
	    			}
				}

				&.pre-julian {
					min-height: 250px;
				}

				&.white{
					display: none;
	    			height: 15vh;

	    			@include breakpoint(tablet) {
						display: block;
	    			}
				}

				&.grey-light {
					display: none;
	    			height: 138px;
	    			background: $grey-light;

	    			@include breakpoint(tablet) {
						display: block;
	    			}
				}

				&.grey-dark {
					display: none;
	    			height: 160px;
	    			background: $grey-dark;

	    			@include breakpoint(tablet) {
						display: block;
	    			}
				}

				&.us-description {
					position: initial !important;
					padding: 25px;
					color: black;
					bottom: 10px;
					right: 50px;
					min-height: 15vh;
				}
			}
		}
	}

	.info-person {
		opacity: 1;
		background: rgba(black, .7);
		padding: 25px;
		width: 70%;
		position: absolute;
		left: 25px;
		bottom: 25px;
		@include transition(opacity $timing);

		@include breakpoint(tablet) {
			opacity: 0;
			width: 100%;
			position: relative;
			left: 0;
			bottom: 0;
		}
		
		.person-description {
			font-size: map-get($font-size, smallest);
			margin-top: 15px;
			display: none;

			@include breakpoint(tablet) {
				display: block;
			}
		}

		&:hover {
			opacity: 1;
		}
	}

	.us-inovation {
		padding: 25px;
		font-size: map-get($font-size, medium);
		min-height: 15vh;
	}
}

.us-copy, .white {
	display: none;

	@include breakpoint(tablet) {
		display: block;
	}
}